/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.welcome {
  max-width: 420px;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/img/welcome_1.jpg);
  background-size: cover;
  background-position: -120px;
  text-align: center;
}
.inside {
  width: 90%;
  height: 90%;
}
.nameP {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 700;
}

.name {
  margin-top: 40px;
  width: 240px;
  height: 60px;
  font-size: 36px;
}
.hello {
  width: 140px;
  height: 40px;
  font-size: 24px;
  border-radius: 50px;
  cursor: grab;
  margin-top: 20px;
}
@media (min-width: 421px) and (orientation: portrait) {
  .welcome {
    max-width: 600px;
    background-position: 0;
  }
  .inside {
    width: 90%;
    height: 90%;
  }
  .nameP {
    font-size: 50px;
  }

  .hello {
    width: 240px;
    height: 100px;
    font-size: 44px;
  }
}
@media (min-width: 601px) and (orientation: portrait) {
  .welcome {
    max-width: 800px;
    background-position: 0px;
  }

  .nameP {
    padding-top: 80px;
    font-size: 60px;
  }
  .hello {
    width: 240px;
    height: 80px;
    font-size: 64px;
  }
}
@media (min-width: 481px) and (orientation: landscape) {
  .welcome {
    max-width: 640px;
    background-position: 0;
  }
  .nameP {
    font-size: 40px;
  }
  .hello {
    height: 50px;
    font-size: 34px;
  }
}
@media (min-width: 641px) and (orientation: landscape) {
  .welcome {
    max-width: 800px;
  }
  .nameP {
    font-size: 48px;
  }
}
@media (min-width: 801px) and (orientation: landscape) {
  .welcome {
    max-width: 1200px;
  }
}
@media (min-width: 1201px) and (orientation: landscape) {
  .welcome {
    max-width: 1600px;
  }
  .nameP {
    font-size: 68px;
  }
  .hello {
    height: 70px;
    font-size: 50px;
  }
}
