/* #F52C54,
#0DE0E0,
#9BF0E9,
#EF37AF,
#011B4C,
#F52C54,
#0DE0E0,
#9BF0E9  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  margin: 0 auto;
  max-width: 420px;
  height: 100vh;
  background-image: url(/Mathematics/img/desert-1270345_640.jpg);
  background-size: cover;
  background-position-x: -100px;
}
.wrapper h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 8px;
  /* animation: bigger 2s infinite; */
  display: none;
}
@keyframes bigger {
  0% {
    font-size: 38px;
  }
  33% {
    font-size: 28px;
    color: #f52c54;
  }
  66% {
    font-size: 38px;
  }
  100% {
    font-size: 28px;
  }
}
.calc {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
}
.calc div {
  width: 50px;
  height: 60px;
  border: 1px solid black;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  background-color: #011b4c;
  color: #0de0e0;
}
.calc .action {
  border: none;
}
.calc .sign {
  border: none;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
}
.calc .score {
  width: 70px;
  height: 100px;
  border: none;
  font-size: 20px;
  background-color: transparent;
}

#wynik {
  width: 60px;
  font-size: 40px;
}
#draw {
  flex-basis: 90%;
  height: 60px;
  border-radius: 50px;
  font-size: 36px;
  font-weight: 700;
  margin-top: 100px;
  background-color: #ef37af;
  color: #011b4c;
  cursor: pointer;
}

#check {
  flex-basis: 90%;
  height: 60px;
  border-radius: 50px;
  font-size: 36px;
  font-weight: 700;
  cursor: pointer;
}
div.giftOne {
  flex-basis: 18%;
  height: 50px;
  background-image: url(/Mathematics/img/wygrana.png);
  background-size: cover;
  border: none;
}
.calc .info {
  border: none;
  font-size: 26px;
  text-align: center;
  line-height: 30px;
  background-color: transparent;
  color: #011b4c;
}
#results {
  display: flex;
  justify-content: left;
  width: 300px;
}
.play {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 120px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #f52c54;
  background-color: #0de0e0;
  color: #f52c54;
  display: none;
  cursor: pointer;
}
@media (min-width: 421px) and (orientation: portrait) {
  .wrapper {
    max-width: 600px;
    background-position-x: 0px;
  }
  .wrapper h1 {
    font-size: 12px;
  }
  @keyframes bigger {
    0% {
      font-size: 48px;
    }
    33% {
      font-size: 38px;
      color: #f52c54;
    }
    66% {
      font-size: 48px;
    }
    100% {
      font-size: 38px;
    }
  }

  .calc div {
    width: 64px;
    height: 75px;
    line-height: 64px;
    font-size: 45px;
  }

  .calc .sign {
    font-size: 38px;
    line-height: 75px;
  }

  #wynik {
    width: 70px;
    height: 75px;
    font-size: 42px;
  }
  #draw {
    height: 80px;
    font-size: 56px;
  }

  #check {
    height: 80px;
    font-size: 42px;
  }

  div.giftOne {
    flex-basis: 19%;
    height: 60px;
  }
  .calc .info {
    font-size: 34px;
    font-weight: 700;
  }
  .play {
    width: 330px;
    height: 140px;
    font-size: 40px;
  }
}
@media (min-width: 601px) and (orientation: portrait) {
  .wrapper {
    max-width: 800px;
  }
  .wrapper h1 {
    font-size: 16px;
  }
  @keyframes bigger {
    0% {
      font-size: 58px;
    }
    33% {
      font-size: 48px;
      color: #f52c54;
    }
    66% {
      font-size: 58px;
    }
    100% {
      font-size: 48px;
    }
  }

  .calc div {
    width: 85px;
    height: 95px;
    line-height: 95px;
    font-size: 50px;
  }

  .calc .sign {
    font-size: 50px;
    line-height: 85px;
  }

  #wynik {
    width: 85px;
    height: 95px;
    font-size: 50px;
  }
  .calc .info {
    font-size: 34px;
    font-weight: 700;
  }
  #results {
    width: 600px;
    height: 120px;
  }
  div.giftOne {
    flex-basis: 20%;
    height: 120px;
  }

  .play {
    width: 550px;
    height: 140px;
    font-size: 42px;
    line-height: 140px;
  }
}
@media (min-width: 481px) and (orientation: landscape) {
  .wrapper {
    max-width: 640px;
    background-position-x: 0px;
  }
  .wrapper h1 {
    padding-top: 0px;
  }

  .calc {
    height: 100%;
  }
  .calc div {
    width: 65px;
  }

  .calc .sign {
    border: none;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
  }
  .calc .score {
    width: 70px;
    height: 100px;
    border: none;
    font-size: 20px;
    background-color: transparent;
  }
  .calc .info {
    font-size: 26px;
    font-weight: 700;
  }
  #wynik {
    width: 65px;
  }

  #draw {
    flex-basis: 90%;
    margin-top: 40px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 26px;
  }

  #check {
    margin-top: 15px;
    height: 40px;
    font-size: 26px;
  }
  div.giftOne {
    flex-basis: 17%;
  }

  #results {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 55px;
  }
}
@media (min-width: 641px) and (orientation: landscape) {
  .wrapper {
    max-width: 800px;
  }
  .wrapper h1 {
    padding-top: 10px;
    font-size: 16px;
  }
  @keyframes bigger {
    0% {
      font-size: 48px;
    }
    33% {
      font-size: 38px;
      color: #f52c54;
    }
    66% {
      font-size: 48px;
    }
    100% {
      font-size: 38px;
    }
  }
  .calc {
    height: 100%;
  }
  .calc div {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 40px;
  }

  .calc .sign {
    font-size: 40px;
    line-height: 65px;
  }
  .calc .score {
    font-size: 40px;
  }

  #wynik {
    width: 65px;
    height: 65px;
  }
  #draw {
    flex-basis: 95%;
    height: 50px;
    font-size: 32px;
    margin-top: 40px;
  }

  #check {
    height: 50px;
    font-size: 32px;
  }
  div.giftOne {
    flex-basis: 17%;
    height: 50px;
  }

  #results {
    width: 300px;
    height: 55px;
  }
  .play {
    width: 650px;
    font-size: 52px;
    line-height: 110px;
  }
}
@media (min-width: 801px) and (orientation: landscape) {
  .wrapper {
    max-width: 1200px;
  }
  .wrapper h1 {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
  }
  @keyframes bigger {
    0% {
      font-size: 58px;
    }
    33% {
      font-size: 48px;
      color: #f52c54;
    }
    66% {
      font-size: 58px;
    }
    100% {
      font-size: 48px;
    }
  }

  .calc div {
    width: 100px;
    height: 105px;
    line-height: 105px;
    font-size: 44px;
  }

  .calc .sign {
    font-size: 44px;
    line-height: 105px;
  }
  .calc .score {
    font-size: 44px;
  }
  .score .info {
    font-size: 36px;
  }

  #wynik {
    width: 100px;
    height: 105px;
    font-weight: 700;
    font-size: 44px;
  }
  #draw {
    flex-basis: 95%;
    height: 70px;
    font-size: 50px;
    margin-top: 100px;
  }

  #check {
    height: 70px;
    font-size: 50px;
    margin-top: 30px;
  }
  div.giftOne {
    flex-basis: 20%;
    height: 105px;
  }

  #results {
    width: 550px;
    height: 110px;
  }
  .play {
    width: 650px;
    font-size: 52px;
    line-height: 110px;
  }
}
